# Shopify API Credentials
SHOPIFY_STORE_URL=your-store-name.myshopify.com
SHOPIFY_ACCESS_TOKEN=shpat_xxxxxxxxxxxxxxxxxxxxxxxxxx
SHOPIFY_API_VERSION=2024-01

# Google Sheets
GOOGLE_SPREADSHEET_ID=1ArkhXbz8rRTQP2yO4FQKCJSYx-9Tj8c0opz0cHQXD8M
